@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    background-color: #F2CC8F;
    display: flex;
    place-items: center;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
  }

  #app {
    /* display: flex;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem; */
  }
}